// $background-color: #252943;
$background-color: #eeeef0;
$accent-color: #423e5d;
// $text-color: #bdbfed;
$text-color: #423e5d;

body {
	-webkit-user-select: none;
	background-color: $background-color;
	color: $text-color;
}

#root {
	min-height: 100%;
}

/*
  #tree-list-container li mark
    border-radius: 50%
    width: 11px
    height: 11px
    box-shadow: 0px 0px 5px black
*/
